extends base_datatables
block content 
    section.content-header 
        h1 
            | Users
            
        ol.breadcrumb 
            li 
                a(href='#') 
                    i.fa.fa-dashboard
                    | Users > Update Users
            
    section.content
      for row, index in data
        .box
            .box-header.with-border
                h3.box-title
                    | Update Users
                    
            .box-body
                form.form-horizontal(role='form',method='post' action='/admin_users/update/#{row.users_id}')
                  - if (messages.msg_error) 
                                    .alert.alert-danger.alert-dismissable 
                                        button.close(type='button', data-dismiss='alert', aria-hidden='true') 
                                            | ×
                                        h4
                                            i.icon.fa.fa-ban
                                            | Alert! 
                                        | !{messages.msg_error} 
                  div.form-group
                    label(for="username",class="col-sm-2 control-label") Username
                    div.col-sm-6
                      input(type="text",class="form-control",id="username",name="username",placeholder="Username",autofocus,value="#{row.username}",required)
                      input(type="hidden",id="users_id",name="users_id",value="#{row.users_id}")
                  div.form-group
                    label(for="name",class="col-sm-2 control-label") Name
                    div.col-sm-6
                      input(type="text",class="form-control",id="name",name="name",placeholder="Name",value="#{row.name}",required)
                  div.form-group
                    label(for="password",class="col-sm-2 control-label") Password
                    div.col-sm-6
                      input(type="password",class="form-control",id="password",name="password",placeholder="Password",value="#{row.password}",required)
                  div.form-group
                    label(for="email",class="col-sm-2 control-label") Email
                    div.col-sm-6
                      input(type="email",class="form-control",id="email",name="email",placeholder="Email",value="#{row.email}",required)
                  div.form-group
                    label(for="phone_no",class="col-sm-2 control-label") Phone No
                    div.col-sm-6
                      input(type="text",class="form-control",id="phone_no",name="phone_no",placeholder="Phone No",value="#{row.phone_no}",required)
                  div.form-group
                    label(for="staff_id",class="col-sm-2 control-label") Staff ID
                    div.col-sm-6
                      input(type="text",class="form-control",id="staff_id",name="staff_id",placeholder="Staff ID",value="#{row.staff_id}",required)
                  div.form-group
                    label(for="account_expiry",class="col-sm-2 control-label") Account Expiry
                    div.col-sm-6
                     - var d = new Date(row.account_expiry);
                     - var year = d.getUTCFullYear();
                     - var month = d.getUTCMonth()+1;
                     - var day = d.getUTCDate()+1;
                     - if (month.toString().length == 1) month = "0" + month;
                     - if (day.toString().length == 1) day = "0" + day;
                      
                     - var newdate = year+'-'+month+'-'+day;
                     - console.log(newdate);
                     - console.log(d.getUTCFullYear());
                     - console.log(d.getUTCMonth()+1);
                     - console.log(d.getUTCDate());
                      input(type="date",class="form-control",id="account_expiry",name="account_expiry",placeholder="Account Expiry",value="#{newdate}",required)
                  div.form-group
                    label(for="user_role",class="col-sm-2 control-label") User Role
                    div.col-sm-6
                     select(id="user_role",name="user_role",required).col-sm-6
                      if(row.user_role ==='Normal')
                         option(value="") Select One
                         option(value="Admin") Administrator
                         option(value="Normal",selected="selected") Normal
                       else if(row.user_role ==='Administrator')
                         option(value="") Select One
                         option(value="Admin",selected="selected") Administrator
                         option(value="Normal") Normal
                       else
                         option(value="") Select One
                         option(value="Admin") Administrator
                         option(value="Normal") Normal
                  div.form-group
                    label(for="user_right",class="col-sm-2 control-label") User Right
                    div.col-sm-6
                      select(id="user_right",name="user_right",required).col-sm-6
                        if(row.user_right === 'Administrator')
                           option(value="") Select One
                           option(value="Administrator",selected="selected") Administrator
                           option(value="Assets Operator") Assets Operator
                           option(value="Linen Operator") Linen Operator
                           option(value="Environment") Environment
                         else if(row.user_right === 'Assets Operator')
                           option(value="") Select One
                           option(value="Administrator") Administrator
                           option(value="Assets Operator",selected="selected") Assets Operator
                           option(value="Linen Operator") Linen Operator
                           option(value="Environment") Environment
                         else if(row.user_right === 'Linen Operator')
                           option(value="") Select One
                           option(value="Administrator") Administrator
                           option(value="Assets Operator") Assets Operator
                           option(value="Linen Operator",selected="selected") Linen Operator
                           option(value="Environment") Environment
                         else if(row.user_right === 'Environment')
                           option(value="") Select One
                           option(value="Administrator") Administrator
                           option(value="Assets Operator") Assets Operator
                           option(value="Linen Operator") Linen Operator
                           option(value="Environment",selected="selected") Environment
                         else
                           option(value="") Select One
                           option(value="Administrator") Administrator
                           option(value="Assets Operator") Assets Operator
                           option(value="Linen Operator") Linen Operator
                           option(value="Environment") Environment
                  div.form-group
                    label(for="asset_owner",class="col-sm-2 control-label")
                    div.col-sm-6
                      button(type="submit",class="btn btn-primary",id="save_btn",name="save_btn",style="align:right") Save
                      |&nbsp&nbsp&nbsp
                      button(type="button",class="btn btn-danger",id="cancel_btn",style="align:right",onclick='goBack()') Cancel