extends base_datatables_print
block content 
    section.content-header 
        

    section.content
        .box
          
            .box-body
                h3 Difference Quantity (Pending) Linen Report for #{month_name+" "+dyear}
                table(id="linen_table1",class="table table-bordered table-striped")
                            thead
                              tr
                                th(width='10%') No
                                th Date
                                th Clean
                                th Soil
                                th Pending

                            tbody
                                if messages.msg_error
                                         | !{messages.msg_error}
                                     else
                                         for row, index in data
                                            tr
                                                td #{index+1}
                                                td #{row.new_date}
                                                td #{row.clean}
                                                td #{row.soil}
                                                td #{row.pending}
                p#date_filter.pull-right
                    span#date-label(style='font-size:20px') Total : #{total_pending} 

