extends base_datatables
block content 
    section.content-header 
        h1 
            | Search Assets
            
        ol.breadcrumb 
            li 
                a(href='#') 
                    i.fa.fa-dashboard
                    | Search Assets 
            
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Assets List&nbsp&nbsp
                    
                        
            .box-body
                table(id="example",class="table table-bordered table-striped")
                   thead
                     tr
                       th No
                       th Assets Id
                       th Assets Desc
                       th Department
                       th Photo
                       th Current Location
                       th Last Detected
                       th History
                   tbody
                       if messages.msg_error
                                | !{messages.msg_error}
                            else
                                for row, index in data 
                                    tr
                                        td #{index+1}
                                        td #{row.assets_no}
                                        td #{row.assets_item_desc}
                                        td #{row.dept_desc}
                                        td 
                                          if row.assets_img_path !== null
                                             img(src='#{row.assets_img_path}',height='60', width='60')
                                          else
                                             img(src='uploads/no_image.jpg',height='60', width='60')
                                        td #{row.zone_name}
                                        td 
                                          a(href="/map_view/#{row.assets_rfid}",target="_blank") #{row.assets_last_datetime.toLocaleString()}
                                        td 
                                          a(href='/search/#{row.assets_rfid}') View history
                                        //- new Intl.DateTimeFormat('en-US').format(row.assets_last_datetime)
                                        //td #{row.assets_last_datetime}
                                            //div(style='display:inline-block')
                                                a(href='/admin_assets/update/#{row.assets_id}').btn.btn-sm.btn-primary
                                                        i.fa.fa-edit
                                            //| 
                                            
                                            //div(style='display:inline-block')
                                                a(href='/admin_assets/update_image/#{row.assets_id}').btn.btn-sm.btn-success
                                                        i.fa.fa-image
                                            //| 
                                            //div(style='display:inline-block')
                                                form(method='post', action='/admin_assets/delete/#{row.assets_id}')
                                                    input(type="hidden",name="_method", value="DELETE")
                                                    button.btn.btn-sm.btn-danger(type='submit')
                                                        i.fa.fa-remove